
@font-face {
	font-family: titleFont;
	src: url(Ventilla.ttf); 
}

@font-face{
	font-family: subtitleFont;
	/*src: url(../fonts/doodle.ttf);*/
	src: url(ostrich-light.ttf);

}

@font-face {
	font-family: textFont;
	src: url(ostrich-light.ttf);
}

body {
	background-image: url(brushed_dark.png);
}

.info_text {
	font-family: 'Lato';
	font-size: 18px;
	color: #FFFFFF;
	text-align: center;
}


.info {
	background-color: rgba(255,255,255,0.2);
	display: none;
	padding: 10px;
	padding-left: 25%;
	padding-right: 25%;
}

.nav {
	font-family: subtitleFont;
	font-size: 52px;
	color: #FFFFFF;
	text-align: center;
}

.title {
	font-family: titleFont;
	font-size: 160px;
	color: #FFFFFF;
	text-align: center;
	margin: 50px;
	padding: 50px;
}

.tinyTitle {
	font-family: titleFont;
	font-size: 50px;
	color: #FFF;
	margin: 0px;
	text-align: left;
}

.smallTitle {
	margin: 10px;
	font-family: titleFont;
	font-size: 80px;
	color: #FFFFFF;
	text-align: center;
}

.nav_link:hover {
/*	color: rgb(110, 110, 110);*/
	background-color: rgba(255,255,255,0.8);
	color: rgb(40,40,40);
/*	color: rgb(80,80,80);*/
}

.circular {
	width: 200px;
	height: 200px;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	background: url("lucy.jpg") no-repeat;
	background-size: contain;
	margin: auto;
	box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}

span:hover {
	color: rgb(145, 113, 123);
}


.nav {
	background-color: rgba(245,224,175,0.3);
}

.sticky {
	position: fixed;
	left: 0;
	right: 0;
    top: 0;  
    font-family: subtitleFont;

    background-color: rgb(100,100,100);
    background-color: rgb(145, 113, 123); /* lilac */
}

a:hover {
	background-color: rgb(145, 113, 123);

}

a {
	color: #FFFFFF;
	text-decoration: none;
}


h3 {
	margin: 10px;
	font-family: subtitleFont;
	font-size: 36px;
	text-align: center;
	color: #FFFFFF;
}

img {
	width: auto;
	height: 250px;
	padding: 20px;
}

#resume p {
	text-align: left;
}

ul {
	font-family: 'Lato';
	font-size: 18px;
	color: #FFFFFF;
	text-align: left;
	left: -50px;
	padding: 0px;
}

li {
	margin-left: 30px;
}

p {
	margin: 0px;
	padding: 5px;
}



