body {
  font-size: 12px;
  font-family: "Verdana";
}

p {
  font-size: 12px;
  font-family: "Verdana";
}

#p-center {
  text-align: center;
}

h1 {
   font-family: "Palatino Linotype";
   font-size: 28px;
   font-color: gray;
}

h2 {
   font-family: "Palatino Linotype";
   font-size: 20px;
}

h3 {
   font-family: "Verdana";
   font-size: 14px;
}
