@font-face {
	font-family: titleFont;
	src: url(fonts/Ventilla.ttf); 
}

@font-face{
	font-family: subtitleFont;
	src: url(fonts/ostrich-light.ttf);
}

@font-face {
	font-family: textFont;
	src: url(fonts/Roboto/Roboto-Thin.ttf);
}

@font-face {
	font-family: robotoReg;
	src: url(fonts/Roboto/Roboto-Regular.ttf)
}

@font-face {
	font-family: robotoLight;
	src: url(fonts/Roboto/Roboto-Light.ttf)
}

body {
	background-image: url(images/wall4.png);
}

.info_text {
	font-family: textFont;
	font-size: 20px;
	color: rgb(40,40,40);
	text-align: center;
	letter-spacing: 1px

}


.info {
	background-color: rgba(202, 207, 225, 0.65);

	/* background-color: rgba(202, 207, 225, 0.65); */
	/* display: none; */
	/* margin-left: 20%; */
	/* margin-right: 20%; */
	padding-top: 2%;
	padding-bottom: 2%;
	padding-left: 10%;
	padding-right: 10%;
}

.nav {
	font-family: textFont;
	font-size: 40px;
	color: rgb(50,50,50);
	text-align: center;
	letter-spacing: 2px
	
}

.title {
	font-family: titleFont;
	font-size: 100px;
	color: #FFFFFF;
	color: rgb(50,50,50);
	text-align: center;
	margin-top: 200px;
	margin-bottom: 10px;
	font-family: Garamond;
	letter-spacing: 6px
	/* padding: 50px; */
}

a {
	text-decoration: none;	
}

.text_link {
	color: rgb(40,40,40);
	/* background-color: #ffffcc; */
	text-decoration: underline;
	text-decoration-color: black;
}

nav {
  text-align: center;
  margin: 20px 0;
  padding: 10px;
}

.icon {
	width: 45px;
	height: 45px;
	display: inline-block;
	padding: 5px;
}

.nav_link:hover {
		text-transform: uppercase;
}

.info_text {
	font-family: robotoLight;
	font-size: 18px;
	color: rgb(50,50,50);
	text-align: center;
}

.smallTitle {
	font-family: robotoReg;
	font-size: 30px;
	letter-spacing: 3px
}


.lucy {
	font-family: robotoReg;
}

.pubTitle {
	font-family: robotoReg;
}

a {
	color: black;
}
/* 
#about {
} */

/* #research {
	background-color: rgba(240, 240, 240, 0.65);
} */