@font-face
{
font-family: Jalane;
src: url(Jalane_light.ttf);
}

@font-face
{
font-family: Lane;
src: url(LANENAR_.ttf);
}

h1 {
	font-size: 70px;
    font-family: Jalane;
}

#calendar{
	width: 900px;
	height: 600px;
    text-align: center;
}

#response {
    font-family: Lane;
    font-size: 20px;
}

canvas {
    background-color: rgb(232,232,232);
    background-image: url(cosmo_cal.png);
    
}

#question {
    font-family: Jalane;
    font-size: 40px;
}

body {
	font-family: Lane;
	font-size: 25px;
	text-align: center;
    color: #FFFFFF;
	background-image: url('stardust.png');
}


.input {
    border: 1px solid #006;
    background: #ffc;
}
.button {
    border: 1px solid #006;
    background: #9cf;
}
label {
    display: block;
    width: 150px;
    float: left;
    margin: 2px 4px 6px 4px;
    text-align: right;
}
br { clear: left; }

.bluePin {
    color: #82C8D9;
}
.pinkPin {
    color: #FF6699;
}


