@font-face {
	font-family: titleFont;
	src: url(fonts/Playfair_Display/static/PlayfairDisplay-Italic.ttf);
}


@font-face {
	font-family: playfair;
	src: url(fonts/Playfair_Display/static/PlayfairDisplay-Regular.ttf);
}

@font-face {
	font-family: playfairIt;
	src: url(fonts/Playfair_Display/static/PlayfairDisplay-Italic.ttf);
}

@font-face {
	font-family: playfairSemiBold;
	src: url(fonts/Playfair_Display/static/PlayfairDisplay-SemiBold.ttf.ttf);
}



@font-face {
	font-family: crimsonIt;
	src: url(fonts/Crimson_Text/CrimsonText-Italic.ttf);
}

@font-face {
	font-family: crimsonText;
	src: url(fonts/Crimson_Text/CrimsonText-Regular.ttf);
}


@font-face {
	font-family: textFont;
	src: url(fonts/Roboto/Roboto-Thin.ttf);
}

@font-face {
	font-family: robotoReg;
	src: url(fonts/Roboto/Roboto-Regular.ttf)
}

@font-face {
	font-family: robotoLight;
	src: url(fonts/Roboto/Roboto-Light.ttf)
}

@font-face {
	font-family: robotoMedIt;
	src: url(fonts/Roboto/Roboto-MediumItalic.ttf)
}

@font-face{
	font-family: 'Playfair';
	src: url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');
} 

body {
	background-image: url(images/white-waves.png);
}

.info_text {
	font-family: textFont;
	font-size: 20px;
	color: rgb(40,40,40);
	text-align: center;
	letter-spacing: 0.5px

}

.content {
	/* background-color: rgba(239, 190, 171, 0.3); */
	background-color: rgba(255,255,255,0.6);
	margin-left: 20%;
	margin-right: 20%;
	padding-top: 5%;
	padding-bottom: 5%;
	padding-left: 10%;
	padding-right: 10%;
}

.info {
	padding-top: 10px;
	padding-bottom: 10px;
}

.nav {
	font-family: textFont;
	font-size: 40px;
	color: rgb(50,50,50);
	text-align: center;
	letter-spacing: 2px
	
}

.title {
	font-family: playfairIt;
	font-size: 90px;
	color: #FFFFFF;
	color: rgb(50,50,50);
	text-align: center;
	margin-top: 200px;
	margin-bottom: 10px;
	letter-spacing: 7px
}

a {
	color: black;
	font-family: robotoReg;
}

a:hover {
	/* text-decoration: underline; */
	/* font-weight: bold; */
	color: rgba(188, 143, 143, 1);
}

.text_link {
	color: rgb(40,40,40);
	/* background-color: #ffffcc; */
	text-decoration-color: black;
}

nav {
  text-align: center;
  margin: 20px 0;
  padding: 10px;
}

.icon {
	width: 45px;
	height: 45px;
	display: inline-block;
	padding: 5px;
}

.nav_link:hover {
		text-transform: uppercase;
		
}

.info_text {
	font-family: robotoLight;
	font-size: 16px;
	color: rgb(50,50,50);
	text-align: left;
}

.smallTitle {
	font-family:playfairSemiBold;
	font-size: 24px;
	font-weight: 100;
	letter-spacing: 2px;
}


.lucy {
	font-family: robotoReg;
}

.pubTitle {
	font-family: robotoReg;
}

.icon {
	width: 25px;
	height: auto;
}

#contact {
	margin-left: 5%;
	margin-right: 5%;
	padding-top: 1%;
	padding-bottom: 1%;
}
