p {
  font-size: 12px;
  font-family: "Verdana";
}

#p-center {
  text-align: center;
}

head {
  font-size: 48px;
  font-family: "Zapf Chancery";
  text-align: center;
}

h1 {
   font-family: "Palatino Linotype";
   font-size: 28px;
}

h2 {
   font-family: "Palatino Linotype";
   font-size: 20px;
}

h3 {
   font-family: "Verdana";
   font-size: 14px;
}

